{% extends "base.html" %}

{% block page_name %}
<h1>{{ data_list.page_name }}</h1>
{% endblock %}

{% block main_content %}
<form method="post" action="{{url_for('register.register_form')}}">
  <div class="mb-3">
    <label for="username" class="form-label">ชื่อผู้ใช้</label>
    <input type="text" class="form-control" id="username" name="username" required />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">อีเมล</label>
    <input type="email" class="form-control" id="email" name="email" required />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">รหัสผ่าน</label>
    <input type="password" class="form-control" id="password" name="password" required />
  </div>
  <button type="submit" class="btn btn-primary">เพิ่มผู้ใช้</button>
</form>

{% if data_list.message %}
<div class="alert alert-info mt-3">{{ data_list.message }}</div>
{% endif %}
{% endblock %}